In [34]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [35]:
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [36]:
df = pd.read_csv('/content/drive/MyDrive/FoodBalanceSheets_E_Africa_NOFLAG.csv' ,encoding = 'latin-1')

In [37]:
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [38]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

In [39]:
df_selected = df[['Y2017', 'Area']]
df_grouped = df_select.groupby('Area')['Y2017'].sum().reset_index()
df_sorted = df_grouped.sort_values(by='Y2017', ascending=True)
seventh_lowest_sum = df_sorted.iloc[6]
print(f"The Area with the 7th lowest sum in 2017 is: {seventh_lowest_sum['Area']}")

NameError: ignored

In [40]:
df_grouped2 = df.groupby('Element')['Y2017'].sum().reset_index()
sum_2017 = df_grouped2[df_grouped2['Element'] == 'Processing']['Y2017'].values[0]
print(f"The total sum of Processing in 2017: {sum_2017}")

The total sum of Processing in 2017: 292836.0

In [41]:
df_selected = df[['Y2017', 'Area']]
df_grouped = df_selected.groupby('Area')['Y2017'].sum().reset_index()
highest_sum_area = df_grouped[df_grouped['Y2017'] == df_grouped['Y2017'].max()]['Area'].values[0]
print(f"The Area with highest sum in 2017 is: {highest_sum_area}")

The Area with highest sum in 2017 is: Nigeria

In [42]:
total_missing_2014 = df['Y2014'].isna().sum()
total_points_2014 = len(df)
missing_percentage_2014 = (total_missing_2014 / total_points_2014) * 100
# Print the results to 3 decimal places
print(f"Total number of missing data in 2014: {total_missing_2014}")
print(f"Percentage of missing data in 2014: {missing_percentage_2014:.3f}%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [43]:
mean_2017 = df['Y2017'].mean()
std_dev_2017 = df['Y2017'].std()
# the results to 2 decimal places
print(f"Mean 2017: {mean_2017:.2f}")
print(f"Standard Deviation 2017: {std_dev_2017:.2f}")

Mean 2017: 140.92
Standard Deviation 2017: 1671.86

In [44]:
df_select = df[['Item', 'Y2015', 'Y2018']]
df_grouped = df_select.groupby('Item')[['Y2015', 'Y2018']].sum()
wine_sum_2015 = df_grouped.loc['Wine', 'Y2015']
wine_sum_2018 = df_grouped.loc['Wine', 'Y2018']
# Print the results
print(f"Total sum of Wine produced in 2015: {wine_sum_2015}")
print(f"Total sum of Wine produced in 2018: {wine_sum_2018}")

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [45]:
df_selected = df[['Element Code', 'Y2017', 'Y2018']]
correlation_matrix = df_selected.corr()
least_correlated_year = correlation_matrix['Element Code'].idxmin()
print(f"The year with the least correlation with 'Element Code' is: {least_correlated_year}")

The year with the least correlation with 'Element Code' is: Y2017

In [50]:
total_unique_countries = df['Area'].nunique()
print(f"The total number of unique countries: {total_unique_countries}")

The total number of unique countries: 49

In [51]:
df.shape

(60943, 12)

In [52]:
protein_supply_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
print(f"The total Protein supply quantity in Madagascar in 2015 is: {protein_supply_2015}")

The total Protein supply quantity in Madagascar in 2015 is: 173.04999999999998

In [53]:
df_selected = df[['Element', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
df_grouped = df_selected.groupby(df_selected['Element'] == 'Stock Variation')
highest_sum_year = df_grouped[['Y2015', 'Y2016', 'Y2017', 'Y2018']].sum().idxmax()
print(f"The year with the highest sum of Stock Variation is: {highest_sum_year}")

The year with the highest sum of Stock Variation is: Y2015    False
Y2016    False
Y2017    False
Y2018    False
dtype: bool